---
import { SlideData } from "@models/slide-data";
import Slide from "../Slide.astro";

interface Props {
  slideData: SlideData;
}

const { slideData }: Props = Astro.props;
---

<Slide slideData={slideData}>
  <h1>{slideData.title}</h1>
  <div class="content">
    <slot />
  </div>
</Slide>

<style is:global>
  h1 {
    margin: 0;
    padding-left: 144px;
    padding-top: 89px;
  }

  .content {
    margin-top: 89px;
    padding-left: 144px;
  }

  .content li {
    margin-top: 21px;
  }
</style>
