---
import { SlideData } from "@models/slide-data";
import Slide from "../Slide.astro";

interface Props {
  slideData: SlideData;
}

const { slideData }: Props = Astro.props;
---

<Slide slideData={slideData}>
  <div class="title-container">
    <div class="title">
      <h1>{slideData.title}</h1>
      <slot />
    </div>
  </div>
</Slide>

<style>
  .title-container {
    display: grid;
    align-items: end;
    height: 100%;
  }

  .title {
    padding-bottom: 89px;
    padding-left: 144px;
  }
</style>
