---
import { type SlideData } from "@models/slide-data";
import Base from "./Base.astro";

interface Props {
  slideData: SlideData;
}

const { slideData }: Props = Astro.props;
---

<Base>
  <main transition:animate="slide"><slot /></main>
  {
    slideData.prev && (
      <div class="arrow arrow-left">
        <a href={slideData.prev}>
          <svg width="21" height="34">
            <rect
              width="26.190037"
              height="9.9771566"
              x="-13.085616"
              y="10.202761"
              rx="4.9885783"
              ry="4.9885783"
              transform="matrix(-0.69049166,0.72334035,0.69049166,0.72334035,0,0)"
            />
            <rect
              width="26.190037"
              height="9.9771566"
              x="-36.623501"
              y="-13.310505"
              rx="4.9885783"
              ry="4.9885783"
              transform="matrix(-0.69049166,-0.72334035,0.69049166,-0.72334035,0,0)"
            />
          </svg>
        </a>
      </div>
    )
  }
  {
    slideData.next && (
      <div class="arrow arrow-right">
        <a href={slideData.next}>
          <svg width="21" height="34">
            <rect
              width="26.190037"
              height="9.9771566"
              x="2.1086307"
              y="-4.9914856"
              rx="4.9885783"
              ry="4.9885783"
              transform="matrix(0.69049166,0.72334035,-0.69049166,0.72334035,0,0)"
            />
            <rect
              width="26.190037"
              height="9.9771566"
              x="-21.429255"
              y="-28.504751"
              rx="4.9885783"
              ry="4.9885783"
              transform="matrix(0.69049166,-0.72334035,-0.69049166,-0.72334035,0,0)"
            />
          </svg>
        </a>
      </div>
    )
  }
</Base>

<style is:global>
  html,
  body,
  main {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  body {
    background-color: #303030;
  }

  main {
    background-image: url(/img/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: #f8f8f8;
  }

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 21px;
  }
</style>

<style>
  .arrow {
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .arrow-right {
    right: 1rem;
  }

  .arrow-left {
    left: 1rem;
  }

  .arrow svg {
    fill: #404040;
    transition: fill 0.5s;
  }

  .arrow svg:hover {
    fill: #f8f8f8;
  }
</style>
