---
import Slide from "@layouts/Slide.astro";
---

<Slide>
  <div class="title">
    <h1>Hypermedia-Driven Applications</h1>
    <h2>Met Astro en HTMX</h2>
  </div>
  <div class="arrow-right">
    <a href="/slides/2"><img src="/icons/arrow-right.svg" alt="next" /></a>
  </div>
</Slide>

<style is:global>
  div.title {
    padding-bottom: 89px;
    padding-left: 144px;
  }

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 21px;
  }

  div.arrow-right {
    position: absolute;
    top: 288px;
    right: 21px;
  }
</style>
