---
import BaseLayout from "@layouts/Base.astro";
---

<BaseLayout>
  <main>
    <div class="title">
      <h1>Hypermedia-Driven Applications</h1>
      <h2>Met Astro en HTMX</h2>
    </div>
    <div class="arrow-right">
      <a href="/slides/2"><img src="/icons/arrow-right.svg" alt="next" /></a>
    </div>
  </main>
</BaseLayout>

<style is:global>
  main {
    background-image: url(/img/background1.jpg);
    width: 987px;
    height: 610px;
    margin: auto;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: #f8f8f8;
  }

  div.title {
    padding-top: 377px;
    padding-left: 144px;
  }

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 21px;
  }

  div.arrow-right {
    position: absolute;
    top: 288px;
    right: 21px;
  }
</style>
